<h1>Prepare Mission</h1>

<% flash.each do |key, value| %>
  <font color="red"><%= content_tag :div, value, class: "flash #{key}" %></font>
<% end %>
<br />

Please input instruction below:
<%= form_tag start_start_path do %>
	<%= text_area_tag :input, nil, :rows => 25, :cols => 35 %><p>
	<%= submit_tag 'Execute Robots' %>
<% end %>
