<h1>Reports</h1>
<b>Planet:</b> <%= @universe.planet.name %><br>
<b>Planent boundary:</b> <%= @universe.planet.x_boundary %>, <%= @universe.planet.y_boundary %><p>

<b>Robot status report:</b><p>
<% @universe.robots.each do |robot| %>
	<%= robot[:robot].x_position %>,
	<%= robot[:robot].y_position %>
	<%= robot[:robot].orientation %>
	<%= robot[:robot].status %><p>
<% end %>

<br>
<%= link_to 'Back to mission settings', start_new_path %>